.filters {

  input[type='number'] {
    -moz-appearance:textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }

  &__block {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.041);
    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &-title {
      font-weight: 600;
      margin-bottom: 20px;
    }
  }

  &__item {
    margin-bottom: 15px;
    &_checkbox {
      input[type="checkbox"] {
        display: none;
        &:checked {
          & ~ label {
            &::before {
              border-color: #003fcd;
            }
            &::after {
              opacity: 1;
            }
          }
        }
      }

      label {
        padding-left: 30px;
        position: relative;
        cursor: pointer;
        font-weight: 500;
        color: rgb(31, 31, 31);
        &::before {
          position: absolute;
          content: '';
          width: 20px;
          height: 20px;
          border: 1px solid #999;
          left: 0;
          top: -1px;
          border-radius: 2px;
        }

        &::after {
          position: absolute;
          content: '';
          width: 10px;
          height: 6px;
          border-left: 2px solid #003fcd;
          border-bottom: 2px solid #003fcd;
          transform: rotate(-45deg);
          left: 5px;
          top: 5px;
          transition: opacity 200ms ease;
          opacity: 0;
        }

        &:hover {
          &::before {
            border-color: #4e83ff;
          }
        }
      }
    }
  }

  &__cancel {
    display: block;
    padding: 12px 24px;
    background-color: #EFF0F4;
    color: rgb(144, 144, 144);
    font-weight: 500;
    text-decoration: none;
    &:hover {
      background-color: rgb(228, 228, 228);
      color: rgb(121, 121, 121);
    }
    span {
      display: inline-block;
      padding-right: 14px;
      position: relative;
      &::after, &::before {
        position: absolute;
        content: '';
        height: 10px;
        width: 2px;
        background-color: #E05C5A;
        right: 0;
        top: 5px;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &__actions {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
    &-row {
      .rcl--button {
        width: 100%;
        font-weight: 500;
      }
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  .range {
    &__line {
      margin-bottom: 30px;
      margin-left: 11px;
      margin-top: 30px;
    }
    &__inputs {
      display: flex;
      align-items: center;
      input {
        display: block;
        width: 100%;
        padding: 10px 12px;
        border-radius: 2px;
        border: 1px solid rgb(223, 223, 223);
        font-family: "Montserrat", sans-serif;
        &:hover {
          border-color: rgb(177, 177, 177);
        }

        &:focus {
          border-color: #0047ec;
          outline: none;
        }
      }

      &-divide {
        margin: 0 10px;
      }
    }

    .noUi-connect {
      background-color: #003fcd;
      box-shadow: none;
      border: none;
    }

    .noUi-handle {
      width: 24px;
      height: 24px;
      cursor: pointer;
      border-radius: 50%;
      top: -10px;
      &::before {
        display: none;
      }

      &::after {
        width: 8px;
        height: 8px;
        background-color: #003fcd;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        margin-top: -4px;
        margin-left: -4px;
      }

      &:focus {
        outline: none;
      }
    }

    .noUi-horizontal {
      height: 3px;
      border-radius: 0;
      border: none;
      box-shadow: none;
      background-color: #efefef;
    }

  }

}