.app__page {

}

.app__title.subtitle.is-6 {
	margin-bottom: 10px;
}

.app__page-sidebar {
	display: flex;
}

.sidebar {
	width: 300px;
	flex-shrink: 0;
}

.app__page-content {
	width: calc(100% - 300px);
	padding: 30px;
}