.MuiPaper-root-17 .MuiList-root-119:nth-child(3) li {
    padding-left: 24px;
}

.MuiPaper-root-17 .MuiList-root-119:nth-child(3) a {
    text-decoration: none;
}

.MuiPaper-root-17 .MuiList-root-119:nth-child(3) a.active li {
    background-color: #3f51b5;
}

.MuiPaper-root-17 .MuiList-root-119:nth-child(3) a.active li span {
    color: #fff;
}

.MuiPaper-root-17 .MuiList-root-119:nth-child(3) a.active li svg {
    fill: #fff;
}

