.filters
    .filters__container
        .filters__block
            | block
        .filters__block
            | block
        .filters__block
            | block
        .filters__block
            | block