.stores {

}

.stores__head h1 {
    margin-top: 0;
}

.stores__form, .stores__inner {
    transition: opacity 300ms ease, transform 200ms ease;
    transform: translateX(40px);
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.stores__form-inner {
    padding: 20px;
}

.stores__form-item {
    width: 50%;
    margin-bottom: 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(40px);
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}