ul.pagination
    li.pagination__item
        a(href="") 1
    li.pagination__item.pagination__item_active
        span 2
    li.pagination__item
        a(href="") 3
    li.pagination__item
        a(href="") ...
    li.pagination__item
        a(href="") 4
    li.pagination__item
        a(href="") 5