.card {
	height: 100%;
}

.card div {
	position: static;
}

.card .bestsellers_fav {
	position: absolute;
	top: 34px;
	right: 24px;
	cursor: pointer;
	transition: transform 150ms ease;
	background: transparent;
	border: none;
}

.card .bestsellers_fav:focus {
	outline: none;
}

.card_wrap {
	margin-bottom: 30px;
}

.card .bestsellers_image {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.card .bestsellers_image img {
	width: 100%;
}

.card .bestsellers_content {
	padding: 0;
}

.card .bestsellers_price {
	font-size: 20px;
}

.card {
	position: relative;
}

.card .bestsellers_item {
	padding-bottom: 100px;
	position: static !important;
}

bestsellers_item_container {
	position: static !important;
}

bestsellers_content {
	position: static;
}

.card .bestsellers_price {
	position: absolute;
	bottom: 20px;
	padding: 0 30px;
	left: 0;
	width: 100%;
}

.card .bestsellers_mark {
	width: 45px;
	height: 45px;
	line-height: 45px;
	font-size: 14px;
}

.card .bestsellers_fav i {
	font-size: 20px;
	opacity: .3;
	color: #e48f0e;
}

.card .bestsellers_fav:hover {
	animation: pulsate 1s infinite;
}

.card .bestsellers_fav:hover i {
	opacity: .6;
}

.card .bestsellers_fav:active {
	animation: none;
	transform: scale(.7);
	opacity: .8;
}

.card .bestsellers_fav_active i {
	opacity: 1;
}

.card .bestsellers_fav_active:hover {
	animation: none;
}

.card .bestsellers_category {
	font-size: 11px;
	color: rgb(104, 104, 104);
}

.card__away {
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: 23px;
	right: 23px;
	border-radius: 50%;
	border: 1px solid #e5e5e5;
	text-align: center;
	line-height: 40px;
}

.card__away:hover {
	border-color:#0e8ce4;
	background-color: #0e8ce4;
	color: #fff; 
}

.card__away:hover i {
	color: #fff; 
}

@keyframes pulsate {
	0% {
	  	transform:  scale(1);
	}
	5% {
		transform:  scale(0.9);
	}
	10% {
		transform:  scale(0.8);
	}
	15% {
		transform:  scale(1);
	}
	50% {
		transform:  scale(0.8);
	}
	100% {
		transform:  scale(0.8);
	}
  }