include ../blocks/breadcrumbs/breadcrumbs
.catalog
    .catalog__header
        .catalog__header-item
            h1.title.title_h1 Кроссовки Nike со скидкой
        .catalog__header-item
            | фильтры
    .catalog__content
        .catalog__filters
            include ../blocks/filters/filters
        .catalog__items
            .catalog__grid
                each i in [1,2,3,4,5,6,7,8,9]
                    .card card
