doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&amp;subset=cyrillic-ext" rel="stylesheet">    
        title Document
        link(rel="stylesheet" href="styles.css")

    body
        #app.app
            header
                .rcl--header.rcl--header_main
                    .rcl--header__section
                        .rcl--header__item
                            a(href='/') LOGO
                        .rcl--header__item
                            a.rcl--button_link(href='/alala') Button link
                    .rcl--header__section
                        .rcl--header__item
                            a.rcl--button_link(href='/alala') Button link
            nav.rcl--navbar
                .rcl--navbar__row
                    .rcl--navbar__item
                        button.rcl--navbar__button.rcl--button
                            span &Kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy;
                    .rcl--navbar__item.rcl--visible-md-down
                        button.rcl--button.rcl--button_icon.rcl--button_search
                            svg(x='0px' y='0px' viewbox='0 0 56.966 56.966')
                                path(d='M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23\
                                s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92\
                                c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17\
                                s-17-7.626-17-17S14.61,6,23.984,6z')
                    .rcl--navbar__item
                        a.rcl--navbar__link(href='/best') &Lcy;&ucy;&chcy;&shcy;&iecy;&iecy;
                    .rcl--navbar__item
                        #searchbar-widget
                        //- .rcl--searchbar
                        //-     .rcl--searchbar__form
                        //-         form.rcl--searchbar__base(action='')
                        //-             input.rcl--searchbar__input(type='text' placeholder='Поиск' name='' id='' value='')
                        //-             button.rcl--searchbar__submit(type='submit')
                        //-     .rcl--searchbar__results
                .rcl--navbar__row
                    .rcl--navbar__item
                        #favorite-widget
                        //- .rcl--favoriteWidget
                        //-     button.rcl--button.rcl--favoriteWidget__button
                        //-         svg#Capa_1(version='1.1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 378.94 378.94' fill='#000')
                        //-             g
                        //-                 path(d='M348.151,54.514c-19.883-19.884-46.315-30.826-74.435-30.826c-28.124,0-54.559,10.942-74.449,30.826l-9.798,9.8l-9.798-9.8\
                        //-                 c-19.884-19.884-46.325-30.826-74.443-30.826c-28.117,0-54.56,10.942-74.442,30.826c-41.049,41.053-41.049,107.848,0,148.885\
                        //-                 l147.09,147.091c2.405,2.414,5.399,3.892,8.527,4.461c1.049,0.207,2.104,0.303,3.161,0.303c4.161,0,8.329-1.587,11.498-4.764\
                        //-                 l147.09-147.091C389.203,162.362,389.203,95.567,348.151,54.514z M325.155,180.404L189.47,316.091L53.782,180.404\
                        //-                 c-28.368-28.364-28.368-74.514,0-102.893c13.741-13.739,32.017-21.296,51.446-21.296c19.431,0,37.702,7.557,51.438,21.296\
                        //-                 l21.305,21.312c6.107,6.098,16.897,6.098,23.003,0l21.297-21.312c13.737-13.739,32.009-21.296,51.446-21.296\
                        //-                 c19.431,0,37.701,7.557,51.438,21.296C353.526,105.89,353.526,152.039,325.155,180.404z')
                        //-         span.rcl--favoriteWidget__counter 2
                .rcl--navbar__list
                    .rcl--navbar__list-wrap
                        .rcl--navbar__list-row
                            .rcl--navbar__list-title &Mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy;&ycy;
                            ul.rcl--navbar__list-items
                                li.rcl--navbar__list-item
                                    a.rcl--navbar__list-link(href='/stores/nike') Nike
                                li.rcl--navbar__list-item
                                    a.rcl--navbar__list-link(href='/stores/adidas') Adidas
                                li.rcl--navbar__list-item
                                    a.rcl--navbar__list-link(href='/stores/reebok') Reebok
                        .rcl--navbar__list-row
                            .rcl--navbar__list-title &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&icy;
                            ul.rcl--navbar__list-items
                                li.rcl--navbar__list-item
                                    a.rcl--navbar__list-link(href='/categories/muzhskie-krossovki') &Mcy;&ucy;&zhcy;&scy;&kcy;&icy;&iecy; &kcy;&rcy;&ocy;&scy;&scy;&ocy;&vcy;&kcy;&icy;
                                li.rcl--navbar__list-item
                                    a.rcl--navbar__list-link(href='/categories/zhenskie-krossovki') &ZHcy;&iecy;&ncy;&scy;&kcy;&icy;&iecy; &kcy;&rcy;&ocy;&scy;&scy;&ocy;&vcy;&kcy;&icy;

            div Index page


        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script.
            !function (i,s,o,g,r,a,m) {
                if (typeof window[g] === "undefined") {
                    var script = s.createElement("script");
                    var node   = s.getElementsByTagName("script")[0];
                    script.src = o;
                    script.type = "text/javascript";
                    node.parentNode.insertBefore(script, node);
                }
            }(window, document, "js/jquery.min.js", "jQuery");
        // /подключение jquery
        script(src="/main.js")
        script(src="/bundle.js")