.checkbox label {
	position: relative;
	cursor: pointer;
	padding-top: 2px;
	color: #797676;
}

.checkbox label::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid #849dad;
	border-radius: 2px;
	vertical-align: top;
	margin-top: -1px;
	margin-right: 8px;
}

.checkbox label::after {
	position: absolute;
	content: '';
	width: 6px;
	height: 8px;
	top: 6px;
	left: 7px;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(45deg);
	opacity: 0;
	transition: opacity 200ms ease; 
}

.checkbox label:hover::before {
	border-color: #4798d1;
}

.checkbox input[type="checkbox"] {
	display: none;
}

.checkbox input[type="checkbox"]:checked ~ label {
	color: #0e8ce4;
}

.checkbox input[type="checkbox"]:checked ~ label::before {
	border-color: #0e8ce4;
	background-color: #0e8ce4;
}

.checkbox input[type="checkbox"]:checked ~ label::after {
	opacity: 1;
}

.checkbox label:hover {
	color: #4ba9ec;	
}